//// Variables
$base_color: #202020
$heading_color: $base_color
$normal_color: #404040
$passive_color: #606060

// ruby per wikipedia
$logo_color: #993300 
$logo_background_color: #ffffff

$link_color: $heading_color
$link_hover_color: #993300
$link_border_color: #aaaaaa
$link_bg: white

$tag_color: #555

$border_color: #bbbbbb

//// Mixins

=sans
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif

=serif
  //font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif
  font-family: Georgia, Cambria, "Times New Roman", Times, serif

=logo-font
  font-family: baskerville, palatino, "palatino linotype", georgia, serif

=monospace
  font-family: Monaco, Consolas, "Lucida Console", "Courier New", Courier, monospace

=ul_left
  ul
    padding: 0
    list-style-type: none

//// Styles

*
  +serif
  color: $normal_color

body
  font-size: 100% 
  text-align: center

#main
  margin: auto
  width: 90%
  max-width: 35em
  padding: 3em 0.5em 1em 0.5em

a
  background-color: $link_bg
  border-bottom: dotted 0.05em $link_border_color
  color: $link_color
  text-decoration: none
  margin: 0.15em
  &:link, &:visited
    color: $link_color
  &:hover
    color: $link_hover_color
    text-decoration: none
    //border-bottom: solid 0.1em $link_hover_color

pre
  display: block
  font-family: monospace
  font-size: 1.2em
  line-height: 1.4em !important
  padding: 1em 0
  white-space: pre

pre span
  font-family: monospace
/* code, pre
  +monospace
  color: $normal_color
  font-size: 13px */

blockquote, div, ol, p, pre, ul
  line-height: 1.5em
  margin-bottom: 1.5em

h1, h2, h3, h4, h5
  +serif
  color: $heading_color
  font-weight: normal
  line-height: 1em
  a
    +serif
    color: $heading_color !important
    text-decoration: none
    border-bottom: none
    &:hover
      text-decoration: none
      color: $link_hover_color !important

h1
  //border-bottom: 0.1em solid #eeeeee
  font-size: 1.8em
  margin-bottom: 1em

.article_title
  border-bottom: none
  color: #930
  font-size: 3em
  letter-spacing: -0.05em
  line-height: 1em
  margin: 0.6em 0 0.2em 0
  text-align: center

.page_title
  border-bottom: none
  color: #930
  font-size: 3em
  letter-spacing: -0.05em
  line-height: 1em
  margin: 0.6em 0 1em 0
  text-align: center
  text-shadow: 0em -0.01em 0.05em #aaa

h2, h3
  color: $heading_color
  margin: 1.5em 0 1em

h2
  font-size: 1.3em

h3
  font-size: 1.1em

ol, ul
  padding-left: 2em
  li
    line-height: 1.5em

ul
  list-style-type: circle

ol
  list-style-type: decimal

/* pre
  background-color: #f8f8f8
  border-left: 3px double $border_color
  padding: 0.5em */

#disqus_thread
  overflow: hidden
  ul
    padding: 0
    list-style-type: none
 
#header
  .logo
    background-color: $logo_background_color
    color: $logo_color
    font-size: 5em
    letter-spacing: -0.06em
    line-height: 1.4em
    margin-bottom: 0
    overflow: hidden
    +logo-font
    // css3 inset effect
    text-shadow: 0em -0.01em 0.05em #aaa
    word-wrap: break-word
    a
      +sans
      color: $logo_color
      background-color: $logo_background_color
      border: none
      +logo-font
      text-decoration: none
      &:link, &:visited
        //color: #000 !important
      &:hover
        //color: #000 !important
        //border-bottom: solid 0.1em $logo_color
        color: $link_hover_color !important
        text-decoration: none
  .article_logo
    font-size: 2.5em
    @extend .logo
  #nav
    margin-bottom: 0 !important
    a
      border: none
      color: #555 
      font-size: 1.3em
      font-variant: small-caps
      &:hover
        //color: #000 !important
        //border-bottom: solid 0.1em $logo_color
        color: $link_hover_color !important
        text-decoration: none
    ul
      line-height: 1em
      list-style-type: none
      padding: 0
      margin: 0
      li
        display: inline
  .byline
    color: $passive_color

#other-articles
  margin-top: 2em
  +ul_left
  h3
    margin: 0 0 0.5em
  .newer
    text-align: right
    float: right
  .older
    float: left

#search
  display: inline-block
  margin: 0 0 0 0.5em
  input
    background: url("/assets/images/searchicon.png") no-repeat scroll left center white
    border: 0.05em dashed #aaa
    font-size: 0.8em
    font-variant: small-caps
    padding: 0.3em 2em
    max-width: 5em

#taglist
  font-size: 0.8em
  margin-top: 3em
  text-align: center 

#sticky
  //border: 3px double #eee
  margin-bottom: 3.2em
  .body
    margin: auto
    padding: 0.2em
    text-align: center
    p
      margin: 0
      line-height: 4em

.archives, .tag-page
  //.excerpt
    font-size: 90%
    margin: 0
  ul
    list-style-type: none
    padding-left: 0

.archive_month
  font-variant: small-caps

.article, .excerpt, .featured
  margin-bottom: 3.5em auto 2.5em auto
  .body
    padding: 0 1em

.article, .featured
  text-align: left
  
.clear
  clear: both

.comments
  text-align: left

.comments
  em
    text-decoration: none !important
  a
    border-bottom: none
    background: transparent

.excerpt
  h2
    margin: 0
    font-size: 2.5em
  p
    margin: 0.4em auto
    width: 80%

.has-pullquote:before
  content: attr(data-pullquote)
  float: right
  width: 10em
  @media screen and (max-width: 480px)
    width: 7em
  margin: 0.5em 1em
  font-size: 1.6em
  line-height: 1.6em

.like_button
  height: 2em
  overflow: hidden

.meta
  font-size: 1em
  font-variant: small-caps
  text-align: center
  ul
    margin: 0
    padding-left: 0
    li
      color: $passive_color
      display: inline

.passive
  color: $passive_color

.page
  text-align: left

a.tag
  margin: 0 !important
  color: $tag_color !important
  &:hover
    color: $link_hover_color !important

.tags
  text-transform: lowercase

.tags-page
  +ul_left
