---
---

- is_embedded ||= false
.article
  %h1 
    - if is_embedded
      %a(href="#{route_path(item)}" title="Full article" class="permalink")= item[:title]
    - else
      = item[:title]
  
  = render('_meta', :item => item)

  .body
    != content || partial(item)

-#.like_button
-#  = fb_init(@config[:facebook_appid])    
-#  = fb_like_btn("button_count", "40", "20", "false", "false")
