---
---

- is_embedded ||= false
.article
  %h1 
    - if is_embedded
      %a(href="#{route_path(item)}" title="Full article" class="permalink")= item[:title]
    - else
      = item[:title]
  
  = render('_meta', :item => item)

  .body
    != content || partial(item)

    fb_init("265263273491887")
    fb_like_btn("standard", "450", "true", "true")
    fb_comments("eyeshalfclosed.heroku.com", "10", "360")
