---
is_hidden: true
---
-# Embeds clicky analyitics into the site
- site_id = @config[:clicky_analytics][:site_id]
- if site_id 
  %a(title="Clicky" href="http://getclicky.com/66503113")
    Clicky
    -#%img(alt="Clicky" src="http://static.getclicky.com/media/links/badge.gif" border="0")
  
  :javascript
    var clicky_site_ids = clicky_site_ids || [];
    clicky_site_ids.push(#{site_id});
    (function() {
      var s = document.createElement('script');
      s.type = 'text/javascript';
      s.async = true;
      s.src = 'http://static.getclicky.com/js';
      ( document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0] ).appendChild( s );
    })();
  
  %noscript
    %p
      %img(alt="Clicky" width="1" height="1" src="http://in.getclicky.com/66503113ns.gif")

      
