---
---
#github_comments
:javascript
  $(function() {
    var converter = new Showdown.converter();

    $.ajax("https://api.github.com/repos/emaadmanzoor/emaadmanzoor.github.com/issues/#{@item[:issue]}/comments", {
      dataType: "jsonp",
      jsonpCallback: "loadComments",
      success: loadComments
    });
    
    function loadComments(data) {
      for (var i=0; i<data.data.length; i++) {
        var cuser = data.data[i].user.login;
        var cuserlink = "https://www.github.com/" + data.data[i].user.login;
        var clink = "https://github.com/emaadmanzoor/emaadmanzoor.github.com/issues/12#issuecomment-" + data.data[i].url.substring(data.data[i].url.lastIndexOf("/")+1);
        var cbody = converter.makeHtml(data.data[i].body);
        var cgravatarlink = data.data[i].user.avatar_url.replace("s=30&", "");
        var cdate = Date.parse(data.data[i].created_at).toString("yyyy-MM-dd HH:mm:ss"); 
        $("#github_comments").append("<div class='comment'><div class='commentheader'><div class='commentgravatar'>" + '<img src="' + cgravatarlink + '" alt="" width="20" height="20">' + "</div><a class='commentuser' href=\""+ cuserlink + "\">" + cuser + "</a><a class='commentdate' href=\"" + clink + "\">" + cdate + "</a></div><div class='commentbody'>" + cbody + "</div></div>");
      }
    }
  });
