---
---
- if item[:kind] == 'article'
  .meta
    %ul
      %li
        On
        = pretty_time(item[:created_at])
      %li
        By
        %a(href="http://github.com/emaadmanzoor")
          Emaad Ahmed Manzoor
      -#%li
        %a(href="#{route_path(item)}#disqus_thread")
